EXPO_PUBLIC_POKEMON_API=https://TU-API-POKEMON.onrender.com
EXPO_PUBLIC_ANIME_API=https://TU-API-ANIME.onrender.com

# URL publica del microservicio de docentes en Render (sin /docentes al final)
EXPO_PUBLIC_DOCENTES_API_URL=https://TU-SERVICIO-DOCENTES.onrender.com
